<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Recommendation Engine</title>
    <link rel="stylesheet" type="text/css" href="/static/home.css">

</head>
<body>

    <header>
        <div class="logo">
          <img src="/static/logo.png" alt="Logo"> 
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="/bot">Ask the AI</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="overlay">
            <div class="hero-text">
                <h1>Course Recommendation Engine</h1>
                <p>Explore top courses handpicked just for you, across all fields of study</p>
                <a href="{{ url_for('index') }}" class="btn">Get Started</a>

            </div>
        </div>
    </section>

</body>
</html>
